<h1>Categories</h1>
<ul>
  <% @categories.each do |category| %>
    <li> <%= link_to category.title, category_path(category) %> </li>
  <% end %>
</ul>

<h1>Items</h1>
<% Item.available_items.each do |item| %>
  <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %>
    <% if current_user %>
      <%= button_to 'Add to Cart', line_items_path(item_id: item) %>
    <% end %></p>
<% end %>
